<div class="bg-slate-50 py-8">
  <h2 class="text-center text-lg sm:text-lg md:text-lg font-semibold text-slate-800 mb-1 ibm-plex-serif-mediumRop">Plus de 10 entreprises à travers le monde nous font confiance.</h2>

  <div class="overflow-hidden relative py-5 sm:py-8 md:py-10">
    <div class="flex animate-marquee whitespace-nowrap gap-10 sm:gap-20">
      <ng-container *ngFor="let logo of logos">
        <img 
          [src]="logo.url"
          [alt]="logo.name"
          class="h-12 sm:h-16 md:h-20 w-auto object-contain grayscale hover:grayscale-0 transition duration-300"
        />
      </ng-container>

      <!-- Répétition pour boucle fluide -->
      <ng-container *ngFor="let logo of logos">
        <img 
          [src]="logo.url"
          [alt]="logo.name"
          class="h-12 sm:h-16 md:h-20 w-auto object-contain grayscale hover:grayscale-0 transition duration-300"
        />
      </ng-container>
    </div>
  </div>
</div>
